{% extends "base.html" %}
{% block title %}Create{% endblock %}
{% block head_include %}
    <link rel="stylesheet" href="../static/stylesheets/creator.css">
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs grey darken-4" id="creator-tabs">
                <li class="tab col s3"><a class="orange-text active" href="#create-post">Create post</a></li>
                <li class="tab col s3"><a class="orange-text" href="#edit-posts">Edit posts</a></li>
                <li class="tab col s3 disabled"><a class="grey-text text-darken-2" href="#test3">Disabled Tab</a></li>
                <li class="tab col s3 disabled"><a class="grey-text text-darken-2" href="#test4">Disabled Tab</a></li>
            </ul>
        </div>
        <div id="create-post" class="col s12">
            <div class="card p-4">
                <div class="row mt-4">
                    <div class="input-field col s6">
                        <input id="input-post-title" value="Title" type="text" class="validate">
                        <label class="active" for="input-post-title">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="input-post-category" value="Category" type="text" class="validate">
                        <label class="active" for="input-post-category">Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                                    <textarea id="input-post-description"
                                              class="materialize-textarea">Description</textarea>
                        <label for="input-post-description">Post Description</label>
                    </div>
                </div>
                <textarea id="mde-anchor"></textarea>
                <div class="card-action">
                    <button id="btn-submit-post" class="btn waves-effect waves-light mb-3" type="button" name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <button id="btn-reset" class="btn waves-effect waves-light red mb-3" type="button" name="action">Clear
                        <i class="material-icons right">backspace</i>
                    </button>
                </div>
            </div>
        </div>
        <div id="edit-posts" class="col s12">
            <div class="col m3 s12 card">
                <ul class="collection">
                </ul>
            </div>
            <div class="col m9 s12 card edit-card">
                <div class="row mt-4">
                    <div class="input-field col s6">
                        <input id="input-post-title-edit" value="Title" type="text" class="validate">
                        <label class="active" for="input-post-title-edit">Title</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="input-post-category-edit" value="Category" type="text" class="validate">
                        <label class="active" for="input-post-category-edit">Category</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                                    <textarea id="input-post-description-edit"
                                              class="materialize-textarea">Description</textarea>
                        <label for="input-post-description-edit">Post Description</label>
                    </div>
                </div>
                <textarea id="mde-anchor-edit"></textarea>
                <div class="card-action">
                    <button id="btn-submit-post-edit" class="btn waves-effect waves-light mb-3" type="button"
                            name="action">
                        Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <button id="btn-reset-edit" class="btn waves-effect waves-light red mb-3" type="button" name="action">
                        Clear
                        <i class="material-icons right">backspace</i>
                    </button>
                </div>
            </div>
        </div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
    </div>

{% endblock %}
{% block modal_question %}
    {{ super() }}
{% endblock %}
{% block modal_info %}
    {{ super() }}
{% endblock %}
{% block script_include %}
    <script src="../static/node_modules/simplemde/dist/simplemde.min.js"></script>
    <script src="../static/scripts/creator.js"></script>
{% endblock %}