{% extends "base.html" %}
{% block title %} {{ post.title }} {% endblock %}
{% block head_include %}
    <link rel="stylesheet" href="../static/stylesheets/post.css">
{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block nav %}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="row mb-0">
        <div class="col s12 m12" id="post" data-id="{{ post.id }}">
            <div class="card grey darken-4 mb-1">
                <div class="card-content black-text pt-1">
                <span class="card-title">
                    <h2 class="text-white">
                        {{ post.title }}
                    </h2>
                </span>
                    <p id="post-body-md" class="text-white">{{ post.body }}</p>
                </div>
                <div class="card-action">
                    <div class="row mb-1">
                        <div class="col s12 m8 black-text p-1">
                            <a class="text-darken-5 orange-text mr-0">{{ post.comments|length }} comments</a>
                        </div>
                        <div class="col s12 m4 white-text p-1">
                            Posted at <span
                                class="text-darken-5 orange-text">{{ post.date_posted }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-align p-2">
        <button class="btn modal-trigger mr-1 orange" data-target="modal-form">Comment</button>
    </div>
    <div id="comments-container">
        {% for comment in post.comments %}
            <div class="row mb-0" id="comment-{{ comment.id }}" data-id="{{ comment.id }}">
                <div class="col s12 m12">
                    <div class="card grey darken-4 mb-1">
                        <div class="card-content white-text pr-4 pt-1 pb-0">
                            <span class="card-title mt-1"><h6>{{ comment.author }}</h6></span>
                        </div>
                        <div class="pr-4 pl-4 pb-2">
                            <p class="mb-2 white-text"
                               style="word-wrap: break-spaces; text-align: justify;">{{ comment.text }}</p>
                        </div>
                        <div class="card-action pt-1 pb-2">
                            <div class="row mb-0">
                                <div class="col m8 s12">
                                    <div class="vote-indicator"><span
                                            class="orange-text font-weight-bold">{{ comment.votes }}</span></div>
                                    <a data-id="{{ comment.id }}" data-delta="1" onclick="_voteHandler(event)" class="btn-vote white-text mr-0"><i class="material-icons">keyboard_arrow_up</i></a>
                                    <a data-id="{{ comment.id }}" data-delta="-1" onclick="_voteHandler(event)" class="btn-vote white-text mr-0"><i class="material-icons">keyboard_arrow_down</i></a>
                                </div>
                                <div class="col m4 s12">
                                    <small class="grey-text">Posted at <span
                                            class="orange-text">{{ comment.date_posted }}</span></small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block modal_form %}
    {{ super() }}
{% endblock %}
{% block script_include %}
    <script src="../static/node_modules/showdown/dist/showdown.min.js"></script>
    <script src="../static/scripts/post.js"></script>
{% endblock %}